@use "@/styles/mixin" as *;
@use "@/styles/variables" as *;

// 게시글 좋아요, 댓글수, 북마크 정보
.subinfo_wrapper {
  gap: 12px;

  .info_wrapper {
    @include flex-row;

    div[role="button"] {
      width: 22px;
      height: 22px;
    }

    &.small {
      gap: 4px;
    }

    &.normal {
      gap: 10px;
    }

    p {
      color: $color-grayscale-70;

      &.small {
        font-size: 1.4rem;
      }

      &.normal {
        font-size: 1.6rem;
      }
    }
  }
}
