@use "@/styles/mixin" as *;
@use "@/styles/variables" as *;

.page_layout {
  @include page_layout_with_header;
}

.policy_content {
  overflow-y: scroll;
  padding: 40px 20px;

  & > p {
    font-size: 1.4rem;
    line-height: 24px;
    white-space: pre-line;
    margin-bottom: 20px;
  }
}
