@use "@/styles/mixin" as *;
@use "@/styles/variables" as *;

.button {
  width: 100%;
  height: 48px;
  border-radius: 16px;

  .text {
    font-size: 1.4rem;
    font-weight: bold;
  }
}

// 개별 modifier 클래스는 별도 정의
.button--positive {
  background-color: $color-positive-0;
  border: 3px solid $color-positive--20;

  .text {
    color: $color-grayscale-0;
  }
}

.button--negative {
  background-color: $color-orange-10;
  border: 3px solid $color-yellow-30;

  .text {
    color: $color-grayscale-0;
  }
}

.button--disabled {
  border: 3px solid $color-grayscale-40;
  background-color: transparent;

  .text {
    color: $color-grayscale-40;
  }
}

.button--skip {
  border: 3px solid $color-grayscale-70;
  background-color: transparent;

  .text {
    color: $color-grayscale-70;
  }
}
