@use "@/styles/mixin" as *;
@use "@/styles/variables" as *;

.user_info_container {
  .user_introduce {
    font-size: 1rem;
    color: $color-grayscale-70;
  }

  .user_nickname {
    margin: 10px 0 16px;
    font-weight: bold;
    font-size: 1.6rem;
  }
}

.count_wrapper {
  gap: 1.4rem;

  .count_inner_wrapper {
    gap: 0.8rem;

    .label {
      font-size: 1.4rem;
      color: $color-grayscale-80;
    }

    .count_txt {
      font-size: 1.4rem;
      color: $color-grayscale-60;
    }
  }
}
