@use "@/styles/mixin" as *;
@use "@/styles/variables" as *;

.page_layout {
  padding: 40px 20px;

  .card_wrapper {
    @include flex-column;
    gap: 40px;

    .card_time {
      width: 100%;
      height: 36px;
      border-bottom: 1px solid $color-grayscale-80;

      & > p {
        font-weight: bold;
        font-size: 1.4rem;
      }
    }
  }
}
