@use "@/styles/mixin" as *;
@use "@/styles/variables" as *;

.top_info_container {
  width: 100%;
  gap: 32px;
  margin-bottom: 40px;
  padding: 0 20px;
}

.bottom_info_container {
  width: 100%;
  padding: 0 20px;

  .tab_list {
    width: 100%;
  }
}

.comment_me_container {
  width: 100%;
  overflow-y: auto;
}
