@use "@/styles/mixin" as *;
@use "@/styles/variables" as *;

.page_layout {
  @include flex-column;

  width: 100%;
  padding: 40px 0;
  flex: 1;
}

.page_layout_with_header {
  //
  min-height: calc(100vh - $header-height);
}
