@use "@/styles/mixin" as *;
@use "@/styles/variables" as *;

.page_layout {
  width: 100%;
  padding: 40px 0;
  min-height: 100vh;
  @include flex-column;
}

.page_layout_with_header {
  //
  min-height: calc(100vh - $header-height);
}
