@use "@/styles/mixin" as *;
@use "@/styles/variables" as *;

.card_inner_wrapper {
  width: 100%;
  padding: 20px;
  border: 1px solid $color-grayscale-40;
  border-radius: 24px;

  .card_button {
    width: 100%;
    display: flex;
    gap: 16px;
  }

  .check_wrapper {
    width: 40px;
    @include flex-center;
  }

  .data_wrapper {
    gap: 8px;

    & > .title {
      color: $color-positive-0;
      font-weight: bold;
      font-size: 1.6rem;
    }

    .data {
      gap: 10px;

      & > p {
        color: $color-grayscale-80;
        font-size: 1.4rem;
      }
    }
  }
}
