@use "@/styles/mixin" as *;
@use "@/styles/variables" as *;

.post_container {
  width: 100%;
  border-bottom: 1px solid $color-grayscale-40;

  .post_wrapper {
    width: 100%;
    padding: 12px 0 40px;

    // 작성자 정보
    .post_author_info_view {
      width: 100%;
      margin-bottom: 8px;
    }

    // 페이지 이동 뷰
    .post_move_action_view {
      width: 100%;

      &.content_move_button {
        cursor: pointer;
      }
    }

    // 이미지 래퍼
    .image_view {
      width: 100%;
      margin-bottom: 4px;
    }

    // 게시글 좋아요, 댓글수, 조회수 정보 뷰
    .action_view_wrapper {
      width: 100%;
      height: 48px;
    }

    // 게시글 제목
    .post_title {
      text-align: start;
      margin-bottom: 10px;
      color: $color-grayscale-90;
    }

    // 게시글 내용
    .post_content {
      text-align: start;
      width: 100%;
      color: $color-grayscale-70;
      margin-bottom: 8px;
      line-height: 28px;

      // 말줄임(한 줄)
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.expanded {
        white-space: pre-line;
        word-break: break-word;
        overflow-wrap: break-word;
      }
    }

    .more_button {
      text-align: start;
      width: 80px;
      height: 32px;
      color: $color-grayscale-60;
    }
  }
}
