@use "@/styles/mixin" as *;
@use "@/styles/variables" as *;

.post_container_button {
  width: 100%;
  border-bottom: 1px solid $color-grayscale-40;

  .post_wrapper {
    width: 100%;
    padding: 12px 0;

    .post_inner_wrapper {
      height: 80px;
    }

    // 작성자 정보
    .post_author_info {
      gap: 15px;

      .dummy_profile_image {
        width: 24px;
        height: 24px;
        border-radius: 24px;
        background-color: $color-grayscale-50;
      }

      .author_name_txt {
        font-size: 1rem;
        color: $color-grayscale-90;
        font-weight: bold;
      }

      .date_txt {
        font-size: 1rem;
        color: $color-grayscale-90;
        font-weight: bold;
      }
    }

    .image_wrapper {
      width: 100%;
      @include flex-center;
    }
  }
}

// 게시글 이미지
.dummy_post_image {
  width: 468px;
  height: 575px;
  background-color: $color-grayscale-60;
  object-fit: cover;
}
