@use "@/styles/variables" as *;

.chart_container {
  gap: 12px;
}

.chart_header {
  gap: 12px;
}

.tabs_wrapper {
  width: 200px;
  display: flex;
  justify-content: center;
}

.chart_box {
  width: 100%;
  height: 240px;
}
