@use "@/styles/mixin" as *;
@use "@/styles/variables" as *;

.empty_state {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

.empty_message {
  font-size: 1.6rem;
  color: $color-grayscale-60;
}
