@use "@/styles/variables" as *;
@use "@/styles/mixin" as *;

.page_layout {
  @include page_layout;

  justify-content: space-between;
}

.between {
  justify-content: space-between;
}

.email_login_title {
  width: 100%;
  padding-top: 20vh;
  padding-left: 26px;
  line-height: 48px;

  p {
    font-size: 3.2rem;
    font-weight: bold;
    color: $color-grayscale-80;
  }
}
