@use "@/styles/mixin" as *;
@use "@/styles/variables" as *;

.tab_wrapper {
  @include flex-row;
  justify-content: space-between;

  border: 1px solid;

  position: sticky;
  width: 100%;
  height: 52px;
  padding: 32px 10px;

  .tab_button {
    @include flex-column;
    flex: 1;
    gap: 10px;
    color: $color-grayscale-50;
  }

  .active {
    color: $color-positive-0;
  }
}
