@use "@/styles/mixin" as *;
@use "@/styles/variables" as *;

.tab {
  flex: 1;
  height: 32px;
  border-bottom: 1px solid $color-grayscale-30;
  @include flex-center;

  & > p {
    color: $color-grayscale-50;
  }
}

.isChecked {
  border-bottom: 1px solid $color-grayscale-80;

  & > p {
    color: $color-grayscale-80;
  }
}
