@use "../variables" as *;

.checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid $color-grayscale-60; // gray-300
  border-radius: 4px;
  accent-color: $color-positive--10; // blue-600
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $color-positive-0; // focus:ring-blue-500
  }
}

.error {
  border-color: $color-negative--10 !important; // red-500
}
