@use "../variables" as *;

.wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.icon {
  font-size: 2rem; // 아이콘 크기
  color: $color-grayscale-60;

  &.error {
    color: $color-orange-10;
  }
}
