// 변수 정의
$breakpoints: (
  sm: 640px,
  lg: 1024px,
  xl: 1280px,
);

// 믹스인 정의
@mixin media($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin hover {
  &:hover {
    @content;
  }
}

// dark-mode
@mixin dark {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

// 말줄임
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// center
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-row {
  display: flex;
  align-items: center;
}

//hidden-scroll
@mixin hidden-scroll {
  -ms-overflow-style: none; /* IE */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}

// 문장 표시
@mixin multiline-ellipsis($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
